<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="./logs" />

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %green(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <appender name="RollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/LanShanLibrary.log</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} %p %C{1} [%t] %m%n</Pattern>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/LanShanLibrary-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>  <!-- 每个日志文件最大 10MB -->
            <maxHistory>30</maxHistory>       <!-- 保留最近30个滚动文件 -->
            <totalSizeCap>1GB</totalSizeCap> <!-- 总日志大小不超过 1GB -->
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </root>

    <logger name="org.springframework.security" level="debug" additivity="false">
        <appender-ref ref="Console" />
        <appender-ref ref="RollingFile" />
    </logger>

    <logger name="org.springframework.web" level="debug" additivity="false">
        <appender-ref ref="Console" />
        <appender-ref ref="RollingFile" />
    </logger>

    <logger name="org.hibernate.SQL" level="debug" additivity="false">
        <appender-ref ref="Console" />
        <appender-ref ref="RollingFile" />
    </logger>

    <logger name="org.hibernate.type.descriptor.sql" level="trace" additivity="false">
        <appender-ref ref="Console" />
        <appender-ref ref="RollingFile" />
    </logger>

    <logger name="com.LanShan.Library.mapper" level="debug" additivity="false">
        <appender-ref ref="Console" />
        <appender-ref ref="RollingFile" />
    </logger>

</configuration>
